@import 'bootstrap/scss/bootstrap';

main {
    background-color: #121212; 
    color: #f8f9fa;
    padding-top: 80px;
    height: 200vh;
}

.navbar {
    background-color: rgba(18, 18, 18, 0.85) !important;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(10px);
}

.presentation-card {
    text-align: center;
    border-radius: 12px;
    padding: 3rem;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}